<style type="text/css">
    body,
    html {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16pt;
    }

    main {
        width: 600px;
        height: 2000px;
        background-color: white;
        margin: 50px auto;
        padding: 15px;
    }

    h3,
    h4,
    h5 {
        margin: 0;
        padding: 0;
    }

    h3 {
        margin-bottom: 10px;
    }

    .bold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    th {
        font-size: 12pt;
        width: 24px;
        padding: 5px 0;
    }
    td {
        font-weight: 600;
        text-align: center;
        padding: 5px;
    }
    td img {
        margin: auto;
    }

    table tr td {
        border-bottom: rgb(250, 250, 250) 3px solid;
        padding: 0;
        margin: 0;
    }

    table tr:nth-child(2) td {
        border-bottom: rgb(17, 187, 68) 3px solid;
        padding: 0;
        margin: 0;
    }
    table tr:last-child td {
        border-bottom: none;
    }
    table tr td:nth-child(1) {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    table tr td:nth-child(2) {
        padding: 0;
        margin: 0;
    }
    table tr td:nth-child(3) {
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
